
# Use this file to store secrets like usernames and passwords.
# Learn more at https://www.home-assistant.io/docs/configuration/secrets/
trusted_proxy_1:xxx.xxx.xxx.xxx #used for allowing pi hole setup access
